<footer class="ftco-footer ftco-section img">
	<div class="overlay"></div>
	<div class="container">
		<div class="row mb-5">


			<!-- Về chúng tôi -->
			<div class="col-lg-4 col-md-6 mb-5 mb-md-5">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Về chúng tôi</h2>
					<p>
						BaKa Coffee – Cà phê rang xay nguyên chất từ Buôn Ma Thuột. 
						Chúng tôi mang đến những sản phẩm đậm đà, là khởi nguồn cho những khoảnh khắc kết nối ấm áp ngay tại nhà bạn.
					</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
					</ul>
				</div>
			</div>


			<!-- Liên hệ -->
			<div class="col-lg-4 col-md-6 mb-5 mb-md-5">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Liên hệ</h2>
					<div class="block-23 mb-3">
						<ul>
							<li>
								<span class="icon icon-map-marker"></span><span class="text">
									118 Nguyễn Văn Cừ, TP. Buôn Ma Thuột
								</span>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-phone"></span><span class="text">
										+84 989715747
									</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icon icon-envelope"></span><span class="text">nguyentannhatkhoi@gmail.com</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5 mb-md-5">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">Giờ mở cửa</h2>
					<p>Thứ 2 - Chủ Nhật: 7:00 - 22:00</p>
				</div>
			</div>
		</div>


	</div>
</footer>




<div id="ftco-loader" class="show fullscreen">
	<svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
	</svg>
</div>